<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Autowired by using the type "byType" -->
    <bean class="bean.Address" id="addrId">
    <property name="houseno" value="2334"></property>
    <property name="city" value="ghaziabad"></property>    
    <property name="pincode" value="110001"></property>
    </bean>
    
    
    
    
    
    
     <bean class="bean.Student" id="studId" autowire="byType">  <!--for using the "byType" type the  data type of the class should be same-->
    <property name="rollno" value="2102"></property>
    <property name="name" value="AMit"></property>    
    </bean>

</beans>